#step1,
#step2,
#step3{
    position: absolute;
    bottom: 0;
    right: 0;
}
.validStep {
    background-color: green;
}
.invalidStep {
    background-color: red;
}
.image-wrapper{
    width: 400px;
    height: 200px;
    margin-left:30px ;
}
