.container {
    @apply max-w-7xl mx-auto px-2;
}

@media (min-width: 640px) {
    .container {
        @apply px-6;
    }
}

@media (min-width: 1024px) {
    .container {
        @apply px-8;
    }
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}
.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 80%;
    height: 80%;
}

textarea:focus {
    border-color: red;
}
input:focus,
textarea:focus,
select:focus {
    border: 2px solid #110507 !important;
    box-shadow: 1 1 3px #110507 !important;
    -moz-box-shadow: 1 1 3px #110507 !important;
    -webkit-box-shadow: 1 1 3px #110507 !important;
}

* {
    box-sizing: border-box;
}

.container-overlay {
    position: relative;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    /* Black see-through */
    color: #050505; 
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 11px;
    height: 100%;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    padding: 2px 2px 2px 2px;
}

#avatar {
    transition: 0.5s;
}

.container-overlay:hover #avatar,
.container-overlay:hover .overlay {
    opacity: 1;
    transition: .3s;
    transform: scale(1.5);
    border-radius: 50%;
}
